:root {
  --background: #ededed;
  --foreground: #0a0a0a;
  --accent: #c00a86;
  --font-sans: "Poppins", sans-serif;
  --font-serif: "Spectral", serif;
  --font-mono: "Fira Mono", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: #640050;
  font-family: var(--font-serif);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0 1rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2 {
  font-family: var(--font-sans);
  margin-bottom: 1rem;
}

h3 {
  text-align: center;
  margin-bottom: 1rem;
}

code, pre {
  font-family: var(--font-mono);
  padding: 0.5rem;
  border-radius: 2px;
  background-color: #333;
  color: #ddd;
  display: block;
  white-space: pre-wrap;
  margin-bottom: 1.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--accent);
}

p {
  margin-bottom: 1rem;
}

h3 {
  margin-bottom: 0.5rem;
}

ul {
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.pswp__default-caption {
  font-size: 1rem !important;
  font-weight: 600;
}
