.main {
  margin: 0 auto;
  background-color: var(--foreground);
  color: var(--background);
  padding: 2em 4em;
  max-width: 60em;
}

.inline-list {
  text-align: center;

  & li {
    display:inline;
    margin: 0.5rem;
  }
}

.social-icon {
  width: 2rem;
  height: 2rem;
}

.footer {
  margin: 2em auto;
  background-color: var(--foreground);
  color: var(--background);
  padding: 1em 2em;
  max-width: 60em;
}